#hero-pictures {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#box1 {
  width: 524px;
  height: 583px;
  background-image: url(../../assets/1b.png);
  background-size: cover;
  position: relative;
  left: 40%;
  animation:anim2 2s forwards 1.5s;
}

#box1:after {
  content: "";
  position: absolute;
  width: 524px;
  height: 583px;
  background-image: url(../../assets/2a.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  z-index: -1;
}

@keyframes anim2 {
  from {
    left: 40%;
    width: 524px;
  }
  to {
    left: 53%;
    width: 0px;
  }
}


#box2 {
  width: 85%;
  height: auto;
  position: absolute;
  top:18%;
  left: 8%;
  overflow: hidden;
}

#text {
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 2s;
  text-align: justify;
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

#text_1 {
  color: #41cdda;
  font-size: 6em;
  font-weight: bolder;
  line-height: 100px;
  text-shadow: 7px 7px 0 #333;
}

#text_2 {
  padding-top: .5em;
  color: #333;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 38px;
  width: 50%;
}

.btn {
  padding: 0 0.8em;
  outline: none;
  border-radius: 45px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.get-started {
  background-color: #fed885;
  font-weight: bold;
  border: 3px solid #333;
  color: #333;
}

.get-started:hover {
  transform: translateY(-5px);
  border-bottom-width: 13px;
}

.get-started i {
  margin-left: 8px;
}

.circle-arrow {
  display: inline-block;
  margin-left: 10px;
  transform: rotate(45deg);
}
