/* ----------------for the about us section */

#card{
  background-color: #FFC6CD;
  border-radius: 2em;
  padding:1em 0em 1em 0em;
  border-bottom-width: 17px;
  border-color: #333;
}


#part {
  width: 90vw;
  position: relative;
  left: 4%;
  overflow: hidden;
}


#part1,
  #part2,
  #part3,
  #part5,
  #part6 {
  width: 3.8em;
  height: 1.3em;
  font-family: Neucha;
  font-size: 7em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 3%;
  text-shadow:7px 7px 0 rgb(51, 51, 51, 0.4);
}

#part1 {
  /* transform: skewY(-15deg); */
  margin-top: 0%;
}

#part2 {
  /* transform: skewY(15deg); */
  margin-left: -0.05em;
}

/* #part3 {
  transform: skewY(-15deg);
} */

#part4 {
  /* 
    transform: skewY(15deg);
    margin-left: -4px; */
  font-family: Neucha;
  position: relative;
  overflow: hidden;
  display: flex;
  left: 45%;
  text-align: justify;
}

#part6 {
  margin-top: 3%;
  margin-left: -5px;
  color:#333;
}

#text01,
  #text02,
  #text03,
  #text05,
  #text06 {
  width: 3.74em;
  /* height: 200px; */
  position: relative;
  display: inline-block;
  transition: all 0.4s;
}

#text01 {
  color: #333;
}

#text03,
  /* #text04, */
  #text05,
  #text06 {
  color: black;
  opacity: 0.1;
}

#text04 {
  /* color: #fa9baf; */
  color:#333;
}

#text01,
#text03,
#text05 {
  left:0%;
}

#text02,
  /* #text04, */
  #text06 {
  color: #CAA3DA;
  left: -100%;
}

