@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css?family=Neucha");

body {
  margin: 0px;
  background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  background-size: cover;
  min-height: max-content;
}


#box3 {
  position: absolute;
  min-width: max-content;
}

#container {
  width: 100%;
  opacity: 0;
  top:-100%;
  position: relative;
  animation: anim4 2s forwards 2.5s;
}

@keyframes anim4 {
  0%{
    transform: translateY(-50px);
    opacity: 0.5;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

#logo {
  float: left;
  margin-left: 100px;
  margin-top: 14px;
  cursor: pointer;
  display: flex;
}

#logo-text {
  font-family: "Neucha";
  font-size: 40px;
  color: #78e4cc;
  margin-left: 10px;
  margin-top: 10px;
}

#logo img {
  width: 50px;
}

#menu {
  font-family: "Neucha";
  font-size: 25px;
  color: #41cdda;
  letter-spacing: 2px;
  margin-right: 150px;
  margin-top: 40px;
  float: right;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline-block;
  margin-left: 100px;
  cursor: pointer;
}

#menu ul li a {
  text-decoration: none;
  position: relative;
}

#menu ul li a:hover {
  color: #f5946b;
}

#menu ul li a:after {
  content: "";
  position: absolute;
  background-color: #f5946b;
  height: 1px;
  width: 0;
  left: -25%;
  bottom: -10px;
  transition: 0.3s;
}

#menu ul li a:hover:after {
  width: 150%;
}

.blurred {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* for Safari */
  background-color: rgba(255, 255, 255, 0.5); /* add transparency to the background color */
}



#main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#hero-pictures {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#box1 {
  width: 839px;
  height: 933px;
  background-image: url(./assets/1b.png);
  background-size: cover;
  position: relative;
  bottom: -100%;
  left: 45%;
  /* animation: slide-left-and-fade-out 5s ease-out forwards; */
  animation: anim 2s forwards, anim2 2s forwards 3s;

  
}

#box1:after {
  content: "";
  position: absolute;
  width: 839px;
  height: 933px;
  background-image: url(./assets/2a.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  z-index:-1;
}




@keyframes anim {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}

@keyframes anim2 {
  from {
    left: 45%;
    width: 839px;
  }
  to {
    left: 55%;
    width: 0px;
  }
}

/* @keyframes slide-left-and-fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  25%{
    opacity: 0;
    transform: translateX(-50%);
    background-image: url(./assets/1b.png);
  }
  50%{
    opacity: 0;
    background-image: url(./assets/2a.png);
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(25%);
    background-image: url(./assets/2a.png);
  }
} */




#box2 {
  width: 85%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 10%;
  overflow: hidden;
}

#text {
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
  text-align: justify;
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

#text_1 {
  font-family: "Neucha";
  color: #fa9baf;
  font-size: 8.5em;
  font-weight: 500;
  line-height: 130px;
}

#text_2 {
  font-family: "Neucha";
  padding-top: 20px;
  color: #000;
  font-size: 3em;
  font-weight: 300;
  line-height: 60px;
  width: 50%;
}


.btn {
  /* padding: 0.5em 1em; */
  padding: 0 0.9em;
  font-weight: bold;
  /* transition: all 0.3s ease 0s; */
  cursor: pointer;
  outline: none;
  float: left;
  margin-right: 40px;
  margin-top: 25px;
  height: 80px;
  border-radius: 45px;
  border: 3px solid #333;
  color: #333;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.get-started {
  font-family: Neucha;
  font-size: 40px;
  background-color: #fed885;
}

.get-started:hover {
  transform: translateY(-5px);
  border-bottom-width: 13px;
}

.get-started i {
  margin-left: 8px;
}

.circle-arrow {
  display: inline-block;
  margin-left: 10px;
  transform: rotate(45deg);
}


/* ----------------for the about us section */
  

#part {
  width: 90vw;
  height: 80vh;
  position: relative;
  left: 7%;
  overflow: hidden;
}

@keyframes anim6 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

#part1,
#part2,
#part3,
/* #part4, */
#part5,
#part6 {
  width: 800px;
  height: 200px;
  font-family: Neucha;
  font-size: 11em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 3%;
}



#part1 {
  transform: skewY(-15deg);
  margin-top: 50px;
}

#part2 {
  transform: skewY(15deg);
  margin-left: -5px;
}

#part3 {
  transform: skewY(-15deg) ;
}

#part4 {
  /* 
  transform: skewY(15deg);
  margin-left: -4px; */
  margin-top: -220px;
  width: 850px;
  height: 400px;
  font-family: Neucha;
  font-size: 38px;
  line-height: 58px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  top: 20%;
  left: 100%;
  animation: anim6 3s forwards 1s;
  text-align: justify;
}

@keyframes anim6 {
  from {
    top: 20%;
    left:100%;
  }
  to {
    top: -24%;
    left: 48%;
  }
}

@keyframes anim5 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

#part5 {
  margin-top: -50px;
  transform: skewY(-15deg);
}

#part6 {
  margin-top: -50px;
  transform: skewY(15deg);
  margin-left: -5px;
}

#text01,
#text02,
#text03,
/* #text04, */
#text05,
#text06 {
  width: 1200px;
  height: 200px;
  position: relative;
  display: inline-block;
  color: white;
  transition: all 0.4s;
}

#text01 {
  color: blue;
}

#text03,
/* #text04, */
#text05,
#text06 {
  color: black;
  opacity: 0.1;
}

#text04 {
  color: #fa9baf;
}

#text01,
#text03,
#text05 {
  left: 800px;
  animation: anim8 3s forwards 1s;
}

#text02,
/* #text04, */
#text06 {
  color: black;
  /* left: -80%; */
  animation: anim7 3s forwards 1s;
}

/* @media (max-width: 768px){
  @keyframes anim7 {
    from {
      left: 100%;
    }
    to {
      left: -100%;
    }
  }
} */

@keyframes anim8 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes anim7 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}









/* -----=================for footer */
/* #contact{
  overflow: hidden;
} */

.animate-slide-up {
  animation: slide-up 3s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}