@charset "UTF-8";.animate-fade-in {
    opacity: 0
}

.animate-fade-in.animate-fade-in--visible {
    -webkit-animation-name: animateInUp;
    animation-name: animateInUp;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes animateInUp {
    0% {
        -webkit-transform: translate3d(0,1.25em,0);
        transform: translate3d(0,1.25em,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes animateInUp {
    0% {
        -webkit-transform: translate3d(0,1.25em,0);
        transform: translate3d(0,1.25em,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}


h1 {
    font-size: 2em
}

h2,h3,h4,h5,h6,p {
    margin: 0
}

img {
    border-style: none
}

html.no-scroll,html.no-scroll body {
    overflow: hidden
}

html.no-scroll--with-ios,html.no-scroll--with-ios body {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

@media (min-width: 75.0625em) {
    html.no-scroll--mq-xl,html.no-scroll--mq-xl body {
        overflow:hidden
    }

    html.no-scroll--mq-xl-ios,html.no-scroll--mq-xl-ios body {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

@media (min-width: 50.0625em) and (max-width:75em) {
    html.no-scroll--mq-l,html.no-scroll--mq-l body {
        overflow:hidden
    }

    html.no-scroll--mq-l-ios,html.no-scroll--mq-l-ios body {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

@media (min-width: 31.3125em) and (max-width:50em) {
    html.no-scroll--mq-m,html.no-scroll--mq-m body {
        overflow:hidden
    }

    html.no-scroll--mq-m-ios,html.no-scroll--mq-m-ios body {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

@media (max-width: 31.25em) {
    html.no-scroll--mq-s,html.no-scroll--mq-s body {
        overflow:hidden
    }

    html.no-scroll--mq-s-ios,html.no-scroll--mq-s-ios body {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased
}

*,:after,:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    font-size: 100%;
    line-height: 1.7;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

svg {
    height: 100%;
    width: 100%;
    pointer-events: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit
}

.page-row {
    clear: both;
    width: 100%
}

.page-row:after,.page-row:before {
    content: "";
    display: table
}

.page-row:after {
    clear: both
}

.page-wrap {
    max-width: 90vw;
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

@media (max-width: 50em) {
    .page-wrap {
        padding-left:1.25rem;
        padding-right: 1.25rem
    }

    .g-row__m--break {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .g-row__m--break>[class*=g-col] {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
}

@media (max-width: 31.25em) {
    .page-wrap {
        padding-left:.9375rem;
        padding-right: .9375rem
    }
}

@-webkit-keyframes fadeInBackground {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInBackground {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes slide-in-up {
    0% {
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slide-in-up {
    0% {
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.hidden {
    display: none!important
}

.icon {
    display: inline-block
}

.icon svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: inherit
}

@-webkit-keyframes spinner-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.card-text {
    color: #252b2f
}

.card-text__header {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.125rem;
    color: #666e7e;
    font-weight: 800;
    margin-bottom: 4%
}

.card-text__title {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 800;
    margin-bottom: 2%
}

.card-text__description {
    margin-bottom: 1.5rem;
    font-size:1.7rem;
}

.card-text__link,.card-text__link:active,.card-text__link:hover,.card-text__link:visited {
    color: #252b2f;
    text-decoration: underline;
    font-weight: 700
}

.card-text__link:hover {
    color: #116eee
}

.card-text__pill {
    margin-bottom: 1rem;
    border-radius: .25rem;
    background: #0ebe75;
    padding: .25rem .75rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: .04em;
    font-size: .625rem;
    line-height: 1.7;
    display: inline-block
}

.card-text__list {
    list-style: none;
    padding: 0;
    margin-bottom: 1.25rem
}

.card-text__description_item {
    display: -ms-flexbox;
    display: flex;
    gap: .5625rem;
    padding-bottom: 1rem;
    -ms-flex-align: center;
    align-items: center
}

.card-text__text {
    text-align: left
}

.card-text__image-svg {
    -ms-flex-item-align: start;
    align-self: flex-start
}

@media (max-width: 75em) {
    .card-text__title {
        font-size:1.125rem;
        line-height: 1.625rem
    }
}

@-webkit-keyframes shake {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    40%,80% {
        -webkit-transform: translate3d(-.375rem,0,0);
        transform: translate3d(-.375rem,0,0)
    }

    20%,60% {
        -webkit-transform: translate3d(.375rem,0,0);
        transform: translate3d(.375rem,0,0)
    }
}

@keyframes shake {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    40%,80% {
        -webkit-transform: translate3d(-.375rem,0,0);
        transform: translate3d(-.375rem,0,0)
    }

    20%,60% {
        -webkit-transform: translate3d(.375rem,0,0);
        transform: translate3d(.375rem,0,0)
    }
}

@-webkit-keyframes skeleton-loader-loading {
    0% {
        background-position: -100% 0
    }

    to {
        background-position: 100% 0
    }
}

@keyframes skeleton-loader-loading {
    0% {
        background-position: -100% 0
    }

    to {
        background-position: 100% 0
    }
}


.how-works {
    padding-top: 5rem
}

.how-works__title {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 800;
    max-width: 100rem;
    margin: 0 auto
}

.how-works__subtitle {
    max-width: 42.5rem;
    margin: 0 auto;
    padding-top: .5rem
}

.how-works__header {
    text-align: center;
    max-width: 53.125rem;
    margin: 0 auto 3.75rem
}

.how-works__article {
    margin-bottom: .7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 10%;
    -moz-column-gap: 10%;
    column-gap: 10%
}

.how-works__article .app-links__item:first-of-type {
    margin-left: 0
}

.how-works__info,.how-works__media {
    -ms-flex: 1;
    flex: 1
}

.how-works__info--left {
    -ms-flex-order: 2;
    order: 2
}

.how-works__media--left {
    -ms-flex-order: 1;
    order: 1
}

.how-works-media {
    max-width: 100%
}

.how-works--unified-paywall .how-works__article {
    margin-bottom: 2.125rem;
    padding: 3.125rem;
    border-radius: .5rem;
    background-color: #f3f7fe
}

@media (max-width: 50em) {
    .how-works {
        padding-top:2.5rem
    }

    .how-works__header {
        margin-bottom: 2rem
    }

    .how-works__title {
        font-size: 1.5rem;
        line-height: 1.9375rem
    }

    .how-works__info,.how-works__media {
        max-width: 100%;
    }

    .how-works__media {
        margin-bottom: 1.5rem
    }

    .how-works__article {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .how-works__info--right {
        -ms-flex-order: 2;
        order: 2
    }

    .how-works__media--right {
        -ms-flex-order: 1;
        order: 1
    }
}

@media (max-width: 31.25em) {
    .how-works__subtitle {
        display:none
    }

    .how-works--unified-paywall .how-works__article {
        padding: 2rem 1rem
    }
}
