:root {
  /* --primary-bg: #333; */
  --blue: #B7EDDF;
  --pink:#FFC6CD;
  --purple: #caa3da;
  --black2: #333;
  --grey: #cecece;
  --white: white;
  --primary-text-color: #333;
  /* --secondary-text-color: #cecece; */
  --border-radius: 10px;
  /* --speed: 500ms; */
}


.changepass_container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* min-height: 100vh; */
    background-color:transparent;
    display: flex;
    align-items:start;
    justify-content:left;
    overflow: hidden;
    margin-bottom:2em;
    padding:1em;
    height: 26em;
}

/* .changepass_form_container {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
} */

.changepass_left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 100%;
  }

  .form_container_cp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_container_cp .cp_title{
    padding:1.2em;
  }

  .input-field .changepass_input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.45rem;
    color: var(--black2);
  }

  .changepass_btn {
    max-width: 380px;
    width: 100%;
    background-color: var(--pink);
    border: 3px solid var(--primary-text-color);
    outline: none;
    height: 50px;
    border-radius: 45px;
    color: var(--black2);
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .changepass_btn:hover {
    transform: translateY(-5px);
    border-bottom-width: var(--border-radius);
  }



  .changepass_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;

  }

  .changepass_svg{
    scale:1.60;
    margin-bottom: 10%;
    z-index: 1000;
  }