.container_fp {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form_container_fp {
  width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.form_container_fp h1 {
	font-size: 3.2rem;
	color: #333;
	margin-bottom: 10px;
	/* text-shadow: 5px 5px 0 rgb(51, 51, 51, 0.4); */
	text-shadow: 3.5px 3.5px 0 #caa3da;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: 1px solid #333;
}


.input-field i {
  text-align: center;
  line-height: 55px;
  color: #333;
  transition: 0.5s;
  font-size: 1.2rem;
}

.input-field .forgotpass_input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.45rem;
  color: #333;
}

.input-field .forgotpass_input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.forgotpass_btn {
	max-width: 380px;
	width: 100%;
	background-color: #caa3da;
	border: 3px solid #333;
	outline: none;
	height: 50px;
	border-radius: 45px;
	color: #333;
	text-transform: uppercase;
	font-size: 1.6em;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	margin-top:10px;
  }
  
  .forgotpass_btn:hover {
	transform: translateY(-5px);
	border-bottom-width: 10px;
  }

.error_msg,
.success_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.success_msg {
  background-color: #5cdd5c;
}
