:root {
  /* --primary-bg: #333; */
  --blue: #b7eddf;
  --pink: #ffc6cd;
  --purple: #caa3da;
  --black2: #333;
  --grey: #cecece;
  --white: white;
  --green: #CEE69A;
  --primary-text-color: #333;
  /* --secondary-text-color: #cecece; */
  --border-radius: 10px;
  /* --speed: 500ms; */
}

.editprofile_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* min-height: 100vh; */
  background-color: transparent;
  display: flex;
  align-items: start;
  justify-content: left;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 1em;
  height: 26em;
}

/* .editprofile_form_container {
      width: 900px;
      height: 500px;
      display: flex;
      border-radius: 10px;
      box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  } */

.editprofile_left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: white;
  border-radius: var(--border-radius);
  min-height: 100%;
}

.input-field .editprofile_input {
    background: none;
    outline: none;
    border: none;
    min-width: 380px;
    line-height: 1;
    font-weight: 600;
  }

.form_container_epr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container_epr .epr_title {
  padding: 1.2em;
}

.editcontributorprofile_btn {
  max-width: 10em;
  width: 100%;
  background-color: var(--pink);
  border: 3px solid var(--primary-text-color);
  outline: none;
  height: 40px;
  border-radius: 45px;
  color: var(--black2);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.editprofile_btn, .savechanges_btn {
  max-width: 10em;
  width: 100%;
  background-color: var(--green);
  border: 3px solid var(--primary-text-color);
  outline: none;
  height: 40px;
  border-radius: 45px;
  color: var(--black2);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.deleteaccount_btn{
  
  max-width: 10em;
  width: 100%;
  background-color: #F87171;
  border: 3px solid #000;
  outline: none;
  height: 40px;
  border-radius: 45px;
  color: var(--black2);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.editprofile_btn:hover, .savechanges_btn:hover, .deleteaccount_btn:hover, .editcontributorprofile_btn:hover {
  transform: translateY(-5px);
  border-bottom-width: var(--border-radius);
}


