
.quiz_start_btn, .quiz_next_btn , .quiz_retry_btn{
  padding: 0 2em;
  background: #FED885;
  color: #000;
  border: 3px solid #000;
  outline: none;
  cursor: pointer;
  border-radius: 45px;
  font-size: 1.5em;
  outline: none;
  transition: all 0.2s ease-in-out;
  height: 45px;
}


.quiz_start_btn:hover, .quiz_next_btn:hover , .quiz_retry_btn:hover{
  transform: translateY(-2px);
  border-bottom-width: 13px;
}


.quiz_nav .logo {
  color: #111;
}


.join-screen, .quiz-screen, .result-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.join-screen{
  background-color: #B7EDDF;
  min-height: 100vh;
}
.lesson-name-join-screen{
  margin-bottom:.5em;
  font-weight:bold;
}

/* 
.result-screen{
  background-color: #B7EDDF;  
} */


.quiz-screen .question{
  min-width: 95%;
  min-height: 90vh;
}

.quiz-screen .question .question_content {
  min-height: 80%;
  border: 1px solid #eee;
  margin-top: 0.5em;
  padding:.5em;
  box-shadow: 0px 2px 5px 2px rgb(77, 114, 152, 0.3);
  border-radius: 20px;
}

.join-screen h2, .result-screen h2{
  font-size: 4em;
  color: #333;
}

.join-screen p, .result-screen p {
  font-size: 1.8em;
  max-width: 95vw;
  color: #333;
}


.quiz-screen .question .question-count {
  margin: 10px 0px;
  text-align: center;
  font-size: 1.6em;
  color: #333;
}

.quiz-screen .question .main {
  padding: 10px 10px;
}

.quiz-screen .question .main .title span {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}

.quiz-screen .question .main .title p {
  font-size: 1.6em;
  color: #333;
}

.quiz-screen .question .main .options {
  font-size: 1.2em;
  margin: 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.quiz-screen .question .main .options .option {
  width: calc(50% - 20px);
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: .5em;
  cursor: pointer;
}

.quiz-screen .question .main .options .option.active {
  background: #B7EDDF;
  color: #333;
}

.quiz-screen .question .main .options .option-img img{
  margin: auto;
}

.quiz-screen .question .main .title .question-img img{
  margin:auto;
}

.quiz-screen .question .control {
  padding:  10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #eee;
}







