.quiz_start_btn, .quiz_next_btn , .quiz_retry_btn{
  padding: 0 2em;
  background: #111;
  color: #fff;
  border: 3px solid #000;
  outline: none;
  cursor: pointer;
  border-radius: 45px;
  font-size: 1.5em;
  /* transition: all 0.3s ease 0s; */
  outline: none;
  transition: all 0.2s ease-in-out;
  max-height: 50px;
}

.quiz_start_btn:hover, .quiz_next_btn:hover , .quiz_retry_btn:hover{
  background-color: blue;
  transform: translateY(-2px);
  border-bottom-width: 13px;
}

/* .quiz_nav {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
} */

.quiz_nav .logo {
  color: #111;
}

/* .quiz-container {
  position: relative;
  margin: 40px auto 20px;
  width: 100%;
  max-width: 90vw;
  min-height: 350px;
  background: #fff;
} */

.join-screen, .quiz-screen, .result-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
}
.join-screen{
  background-color: #9DC3C2;
}

/* .result-screen {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */

.quiz-screen .question{
  min-width: 95%;
  min-height: 90vh;
}

.quiz-screen .question .question_content {
  min-height: 90%;
  border: 1px solid #eee;
  margin-top: 2em;
  padding:.5em;
  box-shadow: 0px 2px 5px 2px rgb(77, 114, 152, 0.3);
  border-radius: 20px;
}

.join-screen h2, .result-screen h2{
  font-size: 4em;
  color: #333;
}

.join-screen p, .result-screen p {
  font-size: 1.8em;
  max-width: 95vw;
  color: #333;
}

/* .quiz-screen .question .progress-bar {
  width: 0%;
  height: 5px;
} */

/* .quiz-screen .question .progress-bar .active {
  animation: progress 10s linear;
} */

.quiz-screen .question .question-count {
  margin: 10px 0px;
  text-align: center;
  font-size: 1.6em;
  color: #333;
}

.quiz-screen .question .main {
  padding: 20px 40px;
}

.quiz-screen .question .main .title span {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}

.quiz-screen .question .main .title p {
  font-size: 1.6em;
  margin-top: 5px;
  color: #333;
}

.quiz-screen .question .main .options {
  font-size: 1.2em;
  margin: 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.quiz-screen .question .main .options .option {
  width: calc(50% - 20px);
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: .5em;
  cursor: pointer;
}

.quiz-screen .question .main .options .option.active {
  background: #9DC3C2;
  color: #333;
}

.quiz-screen .question .main .options .option-img img{
  margin: auto;
}

.quiz-screen .question .main .title .question-img img{
  margin:auto;
}

.quiz-screen .question .control {
  padding:  10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #eee;
}





@keyframes progress {
  0% {
    width: 0%;
    background: #555;
  }
  79% {
    width: 79%;
    background: #555;
  }
  80% {
    width: 80%;
    background: orangered;
  }
  100% {
    width: 100%;
    background: orangered;
  }
}



