@import url("https://fonts.googleapis.com/css?family=Neucha");

body {
  margin: 0px;
  /* background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  background-size: cover; */
  background-color: white;
  min-height: max-content;
}










