:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #333;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

.nav_dash_ddmt {
  list-style: none;
}

.menu-container{
    position:relative;
    display: inline-block;
}

a {
  text-decoration: none;
}

.menu-trigger .nav_dash_ddm_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.nav_dash_ddm {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.nav_dash_ddm::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.nav_dash_ddm.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.nav_dash_ddm.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.nav_dash_ddm_h3 {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 5px ;
  padding-top: 5px;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.5rem;
}

.nav_dash_ddm_h3 span {
  font-size: .7em;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.nav_dash_ddm .nav_dash_ddmt li {
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.nav_dash_ddm .nav_dash_ddmt li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.nav_dash_ddm .nav_dash_ddmt li:hover .nav_dash_ddm_icon {
  opacity: 1;
  cursor: pointer;
}

.nd_dropdownItem {
  display: flex;
  margin: 10px auto;
}

.nd_dropdownItem .nav_dash_ddm_icon {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.nd_dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}

.nav_dash_ddmt {
  list-style: none;
}

a {
  text-decoration: none;
}


.menu-trigger{
    position: relative; /* added to allow absolute positioning of arrow */
  z-index: 1; /* added to position the trigger above the dropdown */
}
/* .menu-trigger .nav_dash_user_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
} */

.menu-trigger:hover{
    transform: translateY(-2px);
}

.menu-trigger p {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 30px;
  cursor: pointer;
  background-color: #fff;
  display: block;
}

.menu-trigger .nav_dash_arrow_down {
  width: 12%;
  display: inline-block;
  height: 5%;
}

.nav_dash_ddm {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: var(--border-radius);
  margin: 10px 20px;
  width: 200px;
  z-index: 1; /* added to position the dropdown above the trigger */
}

.nav_dash_ddm::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.nav_dash_ddm.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.nav_dash_ddm.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.nd_dropdownItem {
  display: flex;
  margin: 10px auto;
}

.nd_dropdownItem .nav_dash_ddm_icon {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.nd_dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}


.nav_dash_username{
    font-size: 1em;
    margin-bottom: auto;
    margin-top: auto;
    width:60%;
}